@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row mb-auto align-middle" >

    <div class="container">
  <div class="row justify-content-md-start ">
    <div class="col col-lg-2 align-middle">
      <p class="card-text">
                  <b> Książka kucharska dla studentów! </b> <br> 

                </p>

                 <p class="card-text mb-auto">
                   Aby zacząć, wciśnij  przycisk "przepisy" <br>
                    miłego gotowania i smacznego! 
                </p>
    </div>
    <div class="col-md-auto">
      
    </div>
    <div class="col col-lg-2 align-middle">
      
                            <a class="nav-link text-dark" asp-area="" asp-page="/Students/Index"><button type="button" class="btn btn-success">Przepisy</button></a>
                        
    </div>
  </div>
  </div>
</div>




   
