@page
@model WebApplication2.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>szczegóły</h1>

<div>
    <h4>Przepis</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
           składniki, opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstMidName)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student?.ID">Edytuj</a> |
    <a asp-page="./Index">wróć</a>
</div>
